/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font, Arial, sans-serif);
  color: var(--main-color);
  font-variation-settings: "wght" var(--card-font-weight, 400);
  background-image: var(--bg-image);
  background-color: (--bg-color);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding-block: 100px;
}

.container {
  margin: 0 auto;
  inline-size: var(--card-inline-size);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color, #000);
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  padding-block: clamp(120px, 10vw, 128px);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-decoration: none;
}

.card {
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  margin-block-end: 50px;
}

.card__title {
  font-size: var(--main-font-size, 1.125rem);
  font-weight: 700;
  padding-inline: 10px;
  padding-block: 3px;
  line-height: normal;
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
}

.card__img-wrapper {
  position: relative;
  border-top: 2px solid var(--main-color, #000);
  border-bottom: 2px solid var(--main-color, #000);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

.card__image-label {
  position: absolute;
  opacity: 50%;
  color: var(--main-color, #000);
  font-family: var(--accent-font, monospace);
  font-size: var(--accent-font-size, 0.875rem);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color, #fff) 0 1px var(--bg-color, #fff) 1px 0
    var(--bg-color, #fff) 0 -1px var(--bg-color, #fff);
  mix-blend-mode: hard-light;
  top: 20px;
  right: 20px;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
  }
}

.card__content {
  padding: 25px;
}

.card__description {
  font-size: var(--main-font-size, 1.125rem);
}

.card__content p:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__image--brightness {
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
}

.card__image--blur {
  filter: blur(0.3rem);
  -webkit-filter: blur(0.3rem);
}

.card__image--contrast {
  filter: contrast(200%);
  -webkit-filter: contrast(200%);
}

.card__image--opacity {
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
}

.card__image-grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.card__image--saturate {
  filter: brightness(150%) sepia(0.7) saturate(200%);
  -webkit-filter: brightness(150%) sepia(0.7) saturate(200%);
}

.card__image--invert {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.card__image--sepia {
  filter: sepia(0.5);
  -webkit-filter: sepia(0.5);
}

.card__buttons {
  margin-block-start: 25px;
  display: flex;
  justify-content: end;
  gap: 4px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition: 0.3 ease;
  cursor: pointer;
  -webkit-transition: 0.3 ease;
  -moz-transition: 0.3 ease;
  -ms-transition: 0.3 ease;
  -o-transition: 0.3 ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-hover, #000);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.core {
  fill: trasnsparent;
  transition: 0.03s 0.3s;
  -webkit-transition: 0.3s 0.03s;
  -moz-transition: 0.03s 0.3s;
  -ms-transition: 0.03s 0.3s;
  -o-transition: 0.03s 0.3s;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.like-icon:hover .core {
  fill: var(--heart-color, #000);
  transition: 0.3s 0s;
  -webkit-transition: 0.3s 0s;
  -moz-transition: 0.3s 0s;
  -ms-transition: 0.3s 0s;
  -o-transition: 0.3s 0s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: 0.3s 0s;
  -webkit-transition: 0.3s 0s;
  -moz-transition: 0.3s 0s;
  -ms-transition: 0.3s 0s;
  -o-transition: 0.3s 0s;
}

.main-body {
  fill: transparent;
  transition: 0.3s 0s;
  -webkit-transition: 0.3s 0s;
  -moz-transition: 0.3s 0s;
  -ms-transition: 0.3s 0s;
  -o-transition: 0.3s 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-hover, #000);
  transition: 0.3s 0.05s;
  -webkit-transition: 0.3s 0.05s;
  -moz-transition: 0.3s 0.05s;
  -ms-transition: 0.3s 0.05s;
  -o-transition: 0.3s 0.05s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: 0.3s 0.05s;
  -webkit-transition: 0.3s 0.05s;
  -moz-transition: 0.3s 0.05s;
  -ms-transition: 0.3s 0.05s;
  -o-transition: 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: 0.3s 0s;
  -webkit-transition: 0.3s 0s;
  -moz-transition: 0.3s 0s;
  -ms-transition: 0.3s 0s;
  -o-transition: 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: 0.3s 0.05s;
  -webkit-transition: 0.3s 0.05s;
  -moz-transition: 0.3s 0.05s;
  -ms-transition: 0.3s 0.05s;
  -o-transition: 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: 0.3s 0.06s;
  -webkit-transition: 0.3s 0.06s;
  -moz-transition: 0.3s 0.06s;
  -ms-transition: 0.3s 0.06s;
  -o-transition: 0.3s 0.06s;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s;
  -webkit-animation: heart-sparks 0.3s ease-in 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s;
  -webkit-animation: heart-scale 0.3s ease-in 0.1s alternate;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  cursor: pointer;
  padding: 0;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
  font-family: var(--accent-font, monospace);
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  inline-size: 335px;
  block-size: 51px;
  margin-block-end: 105px;
  padding: 18px 0px;
  gap: 8px;
}

.floppy {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--bg-color, #fff);
  flex-shrink: 0;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  max-inline-size: 357px;
  text-transform: uppercase;
}

.modal__container {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.floppy--modal {
  block-size: 38px;
  inline-size: 38px;
}

.modal__title {
  font-family: var(--accent-font, monospace);
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 1.5;
}

.modal__button {
  margin-block-end: 0;
  inline-size: 100%;
  text-transform: uppercase;
  padding: 0;
  block-size: 38px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 80px;
    gap: 8px;
  }
  
  .modal[open] {
    inline-size: 341px;
  }

  .modal__button {
    inline-size: 100%;
    block-size: 38px;
  }
}








